* {
    border: none;
    border-radius: 0;
    font-family: "Terminess Nerd Font Propo";
    font-weight: 400;
    font-size: 16px;
}

window#waybar {
    background: rgba(20,20,20,1);
    color: rgba(225,225,225,1);
}

tooltip {
  background: rgba(00, 00, 00, 0.7);
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 4px;
}
tooltip label {
  color: rgba(225,225,225,1);
  font-family: "Adwaita Sans";
}

#workspaces button {
    padding: 0 5px;
    /* margin: 4px 2px; */
    background: transparent;
    color: rgba(130,130,130,1);
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    /* background-color: rgba(21,82,143,1); */
    color: rgba(225,225,225,1);
    border-bottom: 2px solid rgba(92, 159, 242, 1);
}

#workspaces button:hover {
    transition: none;
    box-shadow: none;
    text-shadow: none;
    background: rgba(45,45,45,1);
}

#clock {
    margin: 0px 20px;
}

#tray menu {
    color: rgba(225,225,225,1);
    background: black;
}

#bluetooth {
    font-size: 16px;
}
#bluetooth.connected {
    color: rgba(225,225,225,1);
}
#bluetooth.off {
    color: rgba(130,130,130,1);
}

#network {
    font-size: 16px;
}
#network.disconnected, #network.disabled {
    color: rgba(130,130,130,1);
}

#custom-power {
    font-size: 16px;
}

.modules-right {
    padding: 0 10px 0 0;
    color: inherit;
}

#battery.warning {
    color: #F5FC2F;
}

#battery.critical {
    color: #FC4040;
}
