* {
    border: none;
    border-radius: 0;
    /* font-family: "JetBrainsMonoNL Nerd Font"; */
    font-family: "Inter Variable";
    font-weight: 500;
    font-size: 14px;
}

window#waybar {
    background: rgba(0,0,0,0.5);
    color: rgba(225,225,225,1);
}

tooltip {
  background: rgba(00, 00, 00, 0.7);
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 4px;
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: rgba(120,120,120,1);
}

#workspaces button.active {
    background: none;
    color: white;
}

#workspaces button:hover {
    background: rgba(0,0,0,0.5);
    transition: none;
    box-shadow: none;
    text-shadow: none;
}

#tray menu {
    color: white;
    background: black;
}

#bluetooth {
    font-size: 18px;
}
#bluetooth.connected {
    color: white;
}
#bluetooth.off {
    color: rgba(120,120,120,1);
}

#network {
    font-size: 18px;
}
#network.disconnected, #network.disabled {
    color: rgba(120,120,120,1);
}

.modules-right {
    padding: 0 10px 0 0;
}
