* {
    font-family: "Adwaita Sans";
    font-size: 14px;
    font-weight: 500;
    border-width: 0px;
    background-color: transparent;
    color: #f0f0f0;
}
#window {
    background-color: rgba(17,17,17,0.7);
    border: 1px solid #444444;
    border-radius: 12px;
}

#outer-box {
    background-color: transparent;
}

#input {
    margin: 8px 8px 0px 8px;
    padding: 5px 20px;
    background-color: rgba(42,42,42,0.5);
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.1);
    font-size: 20px;
    box-shadow: none;
}

#scroll {
    outline: none;
    margin: 10px 0px;
}

#inner-box {
    outline: none;
    border: none;
}

#entry {
    border-width: 0px;
    outline: none;
    padding: 0;
    margin: 0px 1px;
}

#unselected {
    padding: 10px 25px;
}

#selected {
    padding: 10px 25px;
    /* background-color: #0071E3; */
    background-color: #262626;
    color: #fff;
    border-radius: 0px;
}

#text {
    font-size: 14px;
}

#img {
    margin-right: 15px;
}
